* {
  margin: 0;
  padding: 0;
  font-family: monospace;
}

body {
  margin: 10% 5%;
  background-color: rgb(214, 212, 212);
}

.btn-group {
    float: right;
    margin: 1em;
}

.btn-group button {
  margin: 0 1em;
  border-radius: .5em !important;
}

.form-group label {
  font-size: 1.5em;
}

h1 {
  text-align: center;
  font-size: 5em;
}

h4{
  text-align: center;
}

.history {
  margin: 1em auto;
  width: 50%;
}

.history input {
  flex-grow: 1;
  margin: .2em;
  text-align: center;
}

.history button {
  margin: .2em;
}

#calculator, #saveForm, #resultForm {
  width: 50%;
  margin: 5em auto;
}


#saveForm #indexSave {
  text-align: center;
}

#resultForm #result{
  text-align: center;
}

.hidden {
  display: none;
}

.btn-space {
  margin: 2em auto;
  width: 100%;
}

#calculator button:last-of-type, #saveForm button:last-of-type, #resultForm button:last-of-type{
  margin-right: 0;
}

#inDisplay, #outDisplay {
  text-align: center;
}

table.blueTable {
  margin: 2em auto;
  border: .3em solid #1C6EA4;
  background-color: #EEEEEE;
  width: 50%;
  text-align: center;
  border-collapse: collapse;

}
table.blueTable td, table.blueTable th {
  border: .1em solid #AAAAAA;
  padding: .2em .1em;
}

table.blueTable tbody td {
  font-size: 13px;
}
table.blueTable tr:nth-child(even) {
  background: #D0E4F5;
}
table.blueTable thead {
  background: #1C6EA4;
  background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  border-bottom: 1px solid #444444;
}
table.blueTable thead th {
  font-size: 15px;
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
  border-left: 1px solid #D0E4F5;
}
table.blueTable thead th:first-child {
  border-left: none;
}
