<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="./stylesheet/style.css">
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="./javascript/calculator.js"></script>
    <title>Basic calculator</title>
  </head>
  <body>
    <h1>BASIC CALCULATOR</h1>
    <form id="calculator" class="form-horizontal" action="/save" method="post" onsubmit="saveSession()">
      <div class="form-group">
        <label for="inDisplay" class="control-label">Expression</label>
        <input type="text" id="inDisplay" name="inDisplay" value="" class="form-control" placeholder="Mathematical expression" autofocus>
      </div>
      <div class="form-group">
        <label for="outDisplay" class="control-label">Result</label>
        <input type="text" id="outDisplay" name="outDisplay" value="" class="form-control" placeholder="Result">
      </div>
      <input type="hidden" id="saveExpression" name="saveExpression" value="">
      <div class="btn-group col-lg-6">
        <button type="button" id="solveExpr" class="form-control btn btn-success" onclick="solveExpression()">Solve</button>
        <button type="submit" id="save" class="form-control btn btn-primary">Save</button>
      </div>
    </form>
  </body>
</html>
